.ag-row-hover {
  /* putting in !important so it overrides the theme's styling as it hovers the row also */
  background-color: #dfdfff !important;
}

.ag-column-hover {
  background-color: #dfffdf;
}
/***************************/
.toolbar button {
  margin: 2px; padding: 0;
}

.ag-cell {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

label {
  font-weight: normal !important;
}

.ag-menu {
  z-index: 50;
}
